html, body, #app {
  background: #000;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 32px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.score {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
}

.won {
  padding-top: 100px;
  text-align: center;
}

.won h1 {
  font-size: 64px;
}